.btn-loading {
  position: relative;
  pointer-events: none;
  color: transparent !important;

  &:after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
  }
}

@keyframes spinAround {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

.app-button {
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 10px;
  background-color: rgb(116 130 209 / 51%);
  color: #fff;
  font-size: 14px;
  transition: 0.4s ease;
  margin-top: auto;
}

.app-button:hover {
  background-color: rgb(53 71 171);
  color: inherit;
}

.app-button:focus-visible {
  outline: none;
}
