.direct-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.friends-list {
  flex-basis: 290px;
  border-right: 1px solid rgba(113, 119, 144, 0.25);
  padding: 26px 26px 26px 0;
  overflow: auto;
  flex-shrink: 0;
}

.direct-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.friends-list__search {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.friends-list__search-input {
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 10px;
  background-color: rgba(146, 151, 179, 0.13);
  color: #fff;
  font-size: 13.4px;
  transition: 0.3s ease;
}

.friends-list__search-input:focus-visible {
  outline: none;
  background-color: rgba(146, 151, 179, 0.35);
}

.friend-list__item {
  display: flex;
  align-items: center;
  padding: 10px 10px 15px 10px;
  border-bottom: 1px solid rgba(113, 119, 144, 0.25);
  cursor: pointer;
  transition: 0.3s ease;
}

.friend-list__item:hover {
  background-color: rgba(113, 119, 144, 0.3);
}

.friend-list__item-avatar {
  overflow: hidden;
}

.friend-list__item-avatar img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.friend-list__item-name {
  margin-left: 10px;
  font-size: 13.4px;
  color: #fff;
}

.friend-list__item-status {
  margin-left: auto;
  font-size: 13.4px;
  color: #fff;
}

.friend-list__item-status span {
  margin-right: 10px;
}

.friend-list__item-status span.ingame {
  color: #e3c520;
}

.friend-list__item-status span.online {
  color: #00d475;
}

.friend-list__item-status span.offline {
  color: #e05555;
}

.messages-list {
  flex-grow: 1;
  overflow: auto;
  padding: 26px 26px 26px 0;
  display: flex;
  flex-direction: column-reverse;
}

.messages-list .messages-list-scrollable {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message-item {
  display: flex;
  align-items: flex-start;
  padding: 10px 10px 10px 10px;
  transition: 0.3s ease;
}

.message-item.message-item-from {
  justify-content: left;
}

.message-item.message-item-to {
  justify-content: right;
}

.message-item__content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.message-item__user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message-item.message-item-to .message-item__user {
  justify-content: flex-end;
}

.message-item.message-item-from .message-item__user {
  justify-content: flex-start;
}

.message-item__content-avatar {
  overflow: hidden;
}

.message-item__content-avatar img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.message-item__content-username {
  margin-left: 10px;
  font-size: 13.4px;
  color: #fff;
}

.message-item__content-message {
  padding: 7px 15px 7px 15px;
  border-radius: 10px;
  margin-top: 9px;
  font-size: 13.4px;
  color: #fff;
}

.message-item.message-item-to .message-item__content-message {
  background: rgba(134, 168, 192, 0.6);
}

.message-item.message-item-from .message-item__content-message {
  background: rgba(175, 175, 175, 0.6);
}

.messages-input {
  display: flex;
  flex-direction: column;
  padding: 0 26px 26px 26px;
  justify-content: flex-end;
}

.messages-input__textarea {
  margin-top: 15px;
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 10px;
  background-color: rgba(146, 151, 179, 0.13);
  color: #fff;
  font-size: 13.4px;
  transition: 0.3s ease;
  resize: none;
}

.messages-input__textarea:focus-visible {
  outline: none;
  background-color: rgba(146, 151, 179, 0.23);
}

.new-group__input {
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 10px;
  background-color: rgba(146, 151, 179, 0.13);
  color: #fff;
  font-size: 13.4px;
  transition: 0.3s ease;
}

.new-group__input:focus-visible {
  outline: none;
  background-color: rgba(146, 151, 179, 0.35);
}

.new-group__button {
  background-color: rgba(146, 151, 179, 0.13);
  border: #17325875 solid 1px;
  transition: 0.2s ease;
}

.new-group__button:hover {
  background-color: rgb(255 255 255 / 17%);
  border: #17325875 solid 1px;
}

.settings__button {
  background: transparent;
  border: none;
}

.settings__button svg {
  transition: 0.2s ease;
}

.settings__button:hover svg {
  fill: #8ea1b3;
}

.overflow-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.group-settings {
  display: flex;
  flex-direction: column;
  padding: 26px 26px 26px 0;
  justify-content: flex-end;
  max-width: 50%;
}
